html {
  scroll-behavior: smooth;
}

body {
  color: rgb(30 41 59);
  background-color: rgb(243 244 246);
}

/* Responsive Styles */
@media only screen and (max-width: 1000px) {
  .container-constraint {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .main-grid {
    display: block;
    margin: auto;
    text-align: center;
  }

  .img-container {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 701px) {
  .main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/* Element Specific Styles */
.main-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.main-link:hover {
  transition: 0.3s;
  color: rgb(59 130 246);
}

/* .main-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: auto;
  margin-bottom: auto;
} */

.main-flex {
  /* Todo add margin and remove height after adding cert badges */
  /* margin-top: 2rem; */
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  border: 2px solid rgb(59 130 246);
  border-radius: 9999px;
  height: 16rem;
  width: auto;
}

.main-container {
  margin-left: 0.5rem;
}

.main-heading-text {
  font-size: 6rem;
  line-height: 6.25rem;
}

.main-secondary-text {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.badge-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 20vh;
}

.about-me-link {
  padding-top: 3.5rem;
}

.section-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-header-white {
  color: rgb(255, 255, 255);
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.section-header-blue {
  color: rgb(59 130 246);
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

/* Height and Width */

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.container-constraint {
  max-width: 1000px;
}

/* Margin and Padding */

.pt-5 {
  padding-top: 20px;
}

.pr-2 {
  padding-right: 10px;
}

.mt-2 {
  margin-top: 10px;
}

.ml-1 {
  margin-left: 5px;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Colors */

.primary-color {
  color: rgb(59 130 246);
}

.primary-color-hover:hover {
  color: rgb(96 165 250);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.background-primary-color {
  background-color: rgb(82, 144, 243);
}

/* Components */

/* Card Styles */
.card {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  background-color: white;
  border-radius: 0.25rem; /* 4px */
  margin-top: 1.25rem; /* 20px */
  padding: 1rem; /* 16px */
}

.card-header {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.card-subheader {
  font-weight: 500;
}

.card-divider {
  border: 1px solid rgb(59 130 246);
}

.skill-container {
  display: flex;
  flex-direction: row;
}

.skill {
  border: 1px solid rgb(59 130 246);
  color: rgb(59 130 246);
  padding: 3px 8px;
  margin-top: 10px;
  width: fit-content;
  border-radius: 9999px;
}

.card-link {
  background-color: rgb(59 130 246);
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 9999px;
}
